{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myweb</title>
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>
<body>

    <!-- Header -->
    <header>
        <h1>Welcome to Student Registration</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
            </ul>
        </nav>
    </header>

    <!-- Content Block -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>


</body>
</html>
